<html>
    <head>
        <script src="/javascripts/cookietest.js"></script>
        <script src="https://geforcesong.github.io/nodetest/express-site/public/javascripts/remote2.js"></script>
    </head>
    <body>
        <h1><%=locals.title%></h1>
        <form action="/entry" method="POST">
            <div>
                <label for="message">Enter a message</label>
                <input id="message" name="message" type="text" />
            </div>
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>" />
            <input type="submit" value="Submit" />

            <iframe src="https://geforcesong.github.io/nodetest/express-site/public/javascripts/ifpage.html" frameborder="0"></iframe>
        </form>
    </body>
</html>