select {
    box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1.5rem;
    padding: 1em 1.5em;
    background-color: #4d5061;
    color: white;
    border: 0;
    padding: 1em 4em 1em 1.5em;
    /* appearance: none; */
}

.custom-select{
    position: relative;
    display: inline-block;
}

.custom-arrow{
    position:absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 4rem;
    background-color: #3b3c47;
    pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
    --size: 1em;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-arrow::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255, 255, 255, 255);
    top: 35%;
}

.custom-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255, 255, 255, 255);
    top: 65%;
}