body {
  padding: 0;
  margin: 0;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

.text {
  font-size: 30px;
  line-height: 40px;
  margin: 30px;
}

.img-wrapper {
}

img {
  width: 100%;
}
