body{
    background: #533872;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20% auto;
}

form label{
    font-size: 32px;
    letter-spacing: 1px;
}

form input{
    margin: 0 10px;
    padding:  9px 8px 6px;
    font-size: 20px;
    border: 0;
    color: #444
}

/* ----------tooltip styles --------*/

.tooltip{
    position: relative;
    background: rgba(0,0,0,0.3);
    padding: 5px 12px;
    border-radius: 100%;
    font-size: 20px;
    cursor: help;
}

.tooltip::after, .tooltip::before{
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: all ease 0.3s;
}

.tooltip::before{
    content: "";
    border-width: 10px 8px 0px 8px;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0.3) transparent transparent transparent;
    margin-left: -8px;
    top: -20px;
}

.tooltip::after{
    content: attr(data-tooltip);
    background-color: rgb(0, 0, 0, 0.3);
    top: -20px;
    font-size: 14px;
    width: 300px;
    margin-left: -150px;
    border-radius: 10px;
    padding: 14px;
    color: #eee;
    transform: translateY(-100%);
}

.tooltip:hover::after, .tooltip:hover::before{
    opacity: 1;
}