@debug $colors;
@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }

  .text-hover-#{$key} {
      &:hover {
          color: $val;
      }
  }

  .bg-#{$key} {
    color: $val;
  }

  @if ($val != white and $val !=black) {
    //light variations
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i} {
        color: mix(white, $val, $i * 10);
      }
      .bg-#{$key}-light-#{$i} {
        background-color: mix(white, $val, $i * 10);
      }
    }
  }
}
