$primary: #326dee !default;
$secondary: #1ac888 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "black": black,
  "white": white,
  "orange": orange,
);

@debug map-get($colors, "primary");
@debug map-has-key($colors, "primary");
@debug map-has-key($colors, "hahaha");
@debug map-merge(
  $colors,
  (
    "pink": pink,
  )
);

$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

$base-font-size: 1rem !default;
$base-font-size-sm: $base-font-size * 0.75 !default;
$base-font-size-lg: $base-font-size * 1.5 !default;
