$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "black": black,
  "white": white,
  "orange": orange,
);

@debug map-get($colors, "primary");
@debug map-has-key($colors, "primary");
@debug map-has-key($colors, "hahaha");
@debug map-merge(
  $colors,
  (
    "pink": pink,
  )
);

$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-thickness: 1px;
$base-border-radius: 20px;

$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

$base-font-size: 1rem;
$base-font-size-sm: $base-font-size * 0.75;
$base-font-size-lg: $base-font-size * 1.5;
