@import "functions";
@import "variables";
@import "breakpoints.scss";
@import "base";
@import "colors";
@import "components/_card.scss";
@import "components/_button.scss";
@import "components/navbar";
@import "_utilities.scss";
@import "_grid.scss";

//test breakpoints
.responsive-test {
  color: white;
  margin: $base-margin;
  
  @include xs {
    background-color: red;
  }
  @include sm {
    background-color: black;
  }
  @include md {
    background-color: blue;
  }
  @include lg {
    background-color: orange;
  }
  @include xl {
    background-color: brown;
  }
}
